@charset 'UTF-8';

* {
    font-size: 13px;
}

textarea {
    resize: none;
    color: #9F9F9F;
}

.clear {
    clear: both;
}

.template {
    display: none;
}

table {
    width: 100%
}

.margin_bottom10 {
    margin-bottom: 10px;
}

.margin_top5 {
    margin-top: 5px;
}

.margin_top30 {
    margin-top: 30px;
}

.margin_top15 {
    margin-top: 15px;
}

.float_left {
    clear: left;
    float: left;
    white-space: nowrap;
}

.float_right {
    clear: right;
    float: right;
    white-space: nowrap;
}

.text_align_right {
    text-align: right;
}

.margin_right_5 {
    margin-right: 5px;
}

.main .margin_left_5 {
    margin-left: 5px;
}

.main .padding_right_5 {
    padding-right: 5px;
}

.main .padding_left_4 {
    padding-left: 4px;
}

.heigth_line_height_24 {
    height: 24px;
    line-height: 24px;
}

.main {
    word-wrap: break-word;
    word-break: break-all;
    padding: 5px;
}

.width_998 {
    width: 998px;
}

.main a {
    color: #0089C8;
}

.main input{
    height: 30px;
}

.main ul {
    margin: 0px;
    padding: 0px;
}

.main ul li {
    margin-bottom: 5px;
    font-size: 12px;
}

.datas .data .profile {
    width: 50px;
    height: 50px;
}

.navbar-dark {
    background: #29A7E1;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.main .row {
    margin-right: 0px;
    margin-left: 0px;
}

.header {
    width: 100%;
}

.header .navbar-fixed-top {
    background-color: #29A7E1;
}

.header .navbar-fixed-top .container {
    width: 998px;
}

.header {
    margin-bottom: 65px;
}

.header .nav_wrap {
    float: left;
    line-height: 35px;
    height: 35px;
    padding: 10px 0px;
}

.header .nav_wrap .nav_link ul li {
    float: left;
}

.header .nav_wrap .nav_link ul {
    margin: 0px;
}

.header .nav_wrap .nav_link a {
    color: #fff;
    font-family: Microsoft YaHei;
    font-size: 16px;
}

.header .nav_wrap .nav_link .nav_url {
    color: #7A7A7A;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    min-height: 30px;
    text-align: center;
    width: 40px;
    float: left;
}

.header .nav-item .nav-link {
    color: #fff;
    font-family: Microsoft YaHei;
    font-size: 16px;
}

.header .nav-item .youarehere {
    background-color: #0089C8;
}

.header .nav_wrap .nav_link .logo {
    margin-right: 20px;
}

.header .nav_wrap .nav_search .icon-search {
    margin-left: -25px;
    cursor: pointer;
}

.header #search {
    border-radius: 0px;
    background: #f6f6f6;
    border: none;
    outline: none;
    margin: 0px;
    height: 30px;
}

.header #search_box {
    border: 1px solid #ebebeb;
    border-radius: 3px;
    background: #f6f6f6;
    padding: 0px 20px;
    margin: 8px;
}

body, button, input, select, textarea {
    font: 12px/1.5 tahoma, arial
}

body {
    overflow-x: hidden
}

.wrap {
    width: 800px;
    margin: 0 auto;
    padding: 0 12px;
    clear: both;
    content: "";
    display: table;
    padding-bottom: 30px
}

.wrap a:hover {
    text-decoration: none;
    color: #3d92e4
}

.screen-hd {
    width: 100%;
    margin-top: 15px
}

.screen-hd .focus-pic {
    width: 830px;
    height: 350px;
    float: left;
    position: relative;
    overflow: hidden
}

.focus-pic-btn {
    display: none
}

.focus-pic-btn a {
    display: block;
    line-height: 40px;
    position: absolute;
    top: 155px;
    width: 40px;
    height: 40px;
    background-color: #000;
    opacity: .3;
    filter: alpha(opacity=30);
    color: #fff;
    overflow: hidden;
    z-index: 4
}

.prevBtn {
    left: 45px
}

.nextBtn {
    right: 65px
}

.focus-pic-img {
    font-size: 0;
    *word-spacing: -1px;
    letter-spacing: -3px;
    position: relative
}

.focus-pic-img li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    font-size: 12px
}

.focus-pic i {
    width: 15px;
    height: 23px;
    cursor: pointer;
    margin: 8px 0 0 12px;
    display: block
}

.focus-pic .nextBtn i {
    background-position: 0 -24px
}

.focus-pic .prevBtn i {
    background-position: 0 0
}
